<div class="summary-page">
  <div class="summary-content">
    <h1>EN BREF</h1>
    <div class="divider"></div>
    <p>Description de l'appartement actuel et présentation de la rénovation (plan et 3D)</p>
    <p>Rappel et analyse des données historiques dans un rayon de <strong>{{multiply rayon 100}} m autour du bien</strong></p>
    <p>Estimation d'une revente à <strong>{{formatKCurrency prix_m2_prix_vente_pondere_m2 1}}</strong> avec un bénéfice net de <strong>{{formatKCurrency resultats_marge_nette 0}}</strong> et ROI de <strong>{{formatPercentage resultats_rentabilite 0}}</strong></p>
  </div>
</div>
